
  
  /*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/
  
  .container {
    padding-inline: 16px;
    margin: auto;
  }
  
  .material-symbols-rounded {
    --fs: 1em;
    font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 40;
    font-size: var(--fs);
    width: 1em;
    overflow: hidden;
  }
  
  .has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
  
  .section {
    padding-block: var(--section-padding);
  }
  
  .section-subtitle {
    max-width: max-content;
    font-family: var(--ff-chakra-petch);
    font-size: var(--fs-5);
    font-weight: var(--fw-600);
    text-transform: uppercase;
    margin-block-end: 12px;
    margin-inline: auto;
  }
  
  .section-subtitle::before {
    content: "";
    display: inline-block;
    height: 15px;
    width: 30px;
    margin-block-end: -2px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  
  .section-subtitle.\:dark {
    color: var(--white);
  }
  
  .section-subtitle.\:dark::before {
    background-image: url("../images/text-bars-light.png");
  }
  
  .section-subtitle.\:light {
    color: var(--international-orange-engineering);
  }
  
  .section-subtitle.\:light::before {
    background-image: url("../images/text-bars-dark.png");
  }
  
  .section-title {
    text-align: center;
  }
  
  .h1,
  .h2,
  .h3,
  .display-1 {
    font-family: var(--ff-Inter);
    font-weight: var(--fw-700);
    text-transform: uppercase;
  }
  
  .display-1 {
    font-size: var(--fs-1);
  }
  
  .h1 {
    color: var(--white);
    font-size: var(--fs-2);
    line-height: 1.1;
    letter-spacing: 1px;
  }
  
  .h2,
  .h3 {
    color: var(--eerie-black);
    font-weight: var(--fw-600);
    line-height: 1.2;
  }
  
  .h2 {
    font-size: var(--fs-3);
  }
  
  .h3 {
    font-size: var(--fs-4);
  }
  
  .btn {
    background-color: var(--international-orange-engineering);
    color: var(--white);
    max-width: max-content;
    font-family: "Poppins";
    font-weight: var(--fw-600);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border: 1px solid transparent;
    border-radius: var(--radius-pill);
    transition: var(--transition);
    will-change: transform;
  }
  
  .btn:is(:hover, :focus-visible) {
    transform: translateY(-5px);
    background-color: var(--white);
    border-color: none;
    color: var(--international-orange-engineering);
  }
  
  .move-anim {
    animation: moving 2s ease-in-out infinite alternate;
  }
  
  @keyframes moving {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(10px);
    }
  }
  
  .section {
    padding-block: var(--section-padding);
  }
  
  .btn-link {
    font-family: var(--ff-Inter);
    text-transform: uppercase;
    color: var(--international-orange-engineering);
    font-weight: var(--fw-700);
  }
  
  .w-100 {
    width: 100%;
  }
  
  .img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--light-gray);
    overflow: hidden;
  }
  
  .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .has-scrollbar {
    display: flex;
    align-items: center;
    gap: 30px;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    padding-block-end: 20px;
  }
  
  .scrollbar-item {
    min-width: 100%;
    scroll-snap-align: start;
  }
  
  .has-scrollbar::-webkit-scrollbar {
    height: 16px;
  }
  
  .has-scrollbar::-webkit-scrollbar-track {
    background-color: var(--pastel-pink);
    border-radius: 20px;
  }
  
  .has-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--international-orange-engineering);
    border-radius: 20px;
    border: 3px solid var(--pastel-pink);
  }
  
  .has-scrollbar::-webkit-scrollbar-button {
    width: 15%;
  }
  
  /*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/
  .header .btn {
    display: none;
  }
  
  .header {
    position: relative;
    color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 15px;
    padding-inline-start: 40px;
    z-index: 4;
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    width: 100px;
  }
  
  .nav-toggle-icon {
    width: 30px;
    height: 2px;
    background-color: var(--white);
    transition: var(--transition);
  }
  
  .nav-toggle-icon:not(:last-child) {
    margin-block-end: 7px;
  }
  
  .nav-toggle-btn.active .icon-2 {
    opacity: 0;
    transform: translateX(-10px);
  }
  
  .nav-toggle-btn.active .icon-1 {
    transform: rotate(45deg) translate(8px, 8px);
  }
  
  .nav-toggle-btn.active .icon-3 {
    transform: rotate(-45deg) translate(4px, -4px);
  }
  
  .navbar {
    position: absolute;
    top: 100px;
    right: 30px;
    background-color: var(--international-orange-engineering);
    min-width: max-content;
    width: 30%;
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
    transition: 0.25s var(--cubic-out);
    z-index: 2;
  }
  
  .navbar.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition-duration: 0.5s;
  }
  
  .navbar-link {
    font-family: var(--ff-Inter);
    font-size: var(--fs-5);
    text-transform: uppercase;
    color: var(--white);
    padding: 10px 20px;
    transition: var(--transition);
  }
  
  .navbar-link:is(:hover, :focus-visible) {
    background-color: var(--white);
    color: var(--international-orange-engineering);
  }
  
  .active-navbar::before {
    opacity: 1;
    content: url("../images/nav-before-img.png");
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
  }
  

  .form-booking {
    background-color: var(--white);
    color: var(--base-color);
    border-radius: 25px;
    text-align: -webkit-center;
    padding: 50px;
  }
  
  
  .form-table input[type="radio"] {
    margin-right: 20px;
  }
  
  /* select radio */
  .form-table td {
    color: var(--light-gray);
    font-size: 16px;
    padding-bottom: 7px;
  }

  .tombol-submit input[type="submit"] {
    background-color: var(--base-color);
    color: white;
    width: -webkit-fill-available;
    height: 50px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: auto;
    font-weight: 800;
    font-size: large;
  }
  
  .tombol-submit input[type="submit"]:hover {
    background: #fffefe;
    color: #de7439;
    border: 1px solid #de7439;
  }
  
  input[type="text"],
  input[type="email"] {
    border: none;
    border-bottom: 1px solid var(--light-gray);
    margin-bottom: 5px;
    width: 300px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: Poppins;
  }
  
  input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  textarea::placeholder {
    color: var(--light-gray);
    font-size: 15px;
    font-family: Poppins;
  }
  
  textarea {
    background-color: var(--light-gray);
    border: 20px solid var(--light-gray);
    border-radius: 10px;
    width: -webkit-fill-available;
    height: 150px;
    font-family: var(--ff-Poppins);
  }
  
  input[type="date"] {
    width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    line-height: 1.5;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 15px 15px;
    padding-right: 30px;
  }
  
  /* styling line */
  .line {
    width: px;
    background-color: #f16111;
    margin: 0 80px;
  }
  
  /* atur jarak tombol submit */
.tombol-submit {
    margin-top: 70px;
  }
 
  /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/
  
  /**
   * responsive for large than 575px screen
   */
  
  @media (min-width: 575px) {
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
      /**
       * typography
       */
  
      --fs-2: 4rem;
      --fs-3: 2.8rem;
      --fs-4: 2rem;
    }
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
  
    .section-subtitle {
      --fs-5: 1.6rem;
    }
  
    .h2 {
      font-weight: var(--fw-700);
    }
  
    /**
     * ABOUT
     */
  
    .about-list {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  
    .about-item {
      padding-block: 20px;
    }
  
    /**
     * WORK
     */
  
    .scrollbar-item {
      min-width: calc(50% - 15px);
    }
  
    /**
     * FOOTER
     */
  
    .footer-top {
      position: relative;
      overflow: hidden;
    }
  
    .footer-top .container {
      grid-template-columns: 1fr 1fr;
    }
  
    .footer .shape-3 {
      display: block;
      position: absolute;
      bottom: -30px;
      right: 0;
    }
  }
  
  /**
   * responsive for large than 768px screen
   */
  
  @media (max-width: 768px) {
    input[type="text"],
    input[type="email"] {
      width: -webkit-fill-available;
    }
  }
  
  @media (min-width: 768px) {
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
      /**
       * typography
       */
  
      --fs-1: 4rem;
      --fs-2: 5rem;
      --fs-3: 3.4rem;
    }
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 720px;
    }
  
    .btn {
      padding: 16px 32px;
    }
  
    .section-subtitle {
      --fs-5: 1.8rem;
    }
  
    .section-title:not(.h1) {
      max-width: 500px;
      margin-inline: auto;
    }
  
    /**
     * FOOTER
     */
  
    .footer-top .container {
      grid-template-columns: 1fr 0.9fr 0.9fr;
    }
  
    .copyright {
      --fs-6: 1.4rem;
    }
  }
  
  @media (min-width: 992px) {
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
      /**
       * typography
       */
  
      --fs-2: 4.4rem;
      --fs-3: 3.8rem;
      --fs-4: 2.2rem;
  
      /**
       * spacing
       */
  
      --section-padding: 100px;
    }
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 960px;
    }
  
    .section-text,
    .card-text {
      font-size: 1.8rem;
    }
  
    /**
     * HEADER
     */
  
    .nav-toggle-btn {
      display: none;
    }
  
    .header .container {
      /* gap: 3px; */
    }
  
    .navbar,
    .navbar.active {
      all: unset;
      display: block;
      margin-inline-start: auto;
    }
  
    .navbar-list {
      display: flex;
    }
  
    .navbar-link {
      position: relative;
      font-size: unset;
      font-size: 1.29rem;
    }
  
    .navbar-link:is(:hover, :focus-visible) {
      background: none;
      color: var(--white);
    }
  
    .navbar-link::after {
      content: url("../images/nav-before-img.png");
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
    }
  
    .navbar-link:is(:hover, :focus-visible)::after {
      opacity: 1;
    }
  
    .header .btn {
      display: flex;
      padding: 10px 20px;
      font-size: 1.2rem;
    }
  }
  
  /**
   * responsive for large than 1200px screen
   */
  
  @media (min-width: 1200px) {
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
      /**
       * typography
       */
  
      --fs-2: 5rem;
      --fs-3: 4.6rem;
    }
  
    /**
     * REUSED STYLE
     */
  
    .container,
    .hero .container {
      max-width: 1140px;
    }
  
    .btn {
      padding: 18px 36px;
    }
  
    .btn .material-symbols-rounded {
      --fs: 1.3em;
    }
  
    /**
     * HEADER
     */
  
    .header {
      padding-block: 25px;
    }
  
    .header .container {
      gap: 9px;
    }
  
    .logo img {
      width: 128px;
    }
  
    .header .btn {
      font-size: unset;
      padding-block: 15px;
    }
  
    .navbar-link {
      font-size: 1.55rem;
    }
  
    .header .btn {
      font-size: 1.55rem;
    }
  
    /**
     * WORK
     */
    .scrollbar-item {
      min-width: calc(33.33% - 20px);
    }
  
    /**
     * FOOTER
     */
  
    .footer-top {
      padding-block: 150px;
    }
  
    .footer-top .container {
      padding-inline-start: 25%;
    }
  
    .footer-bottom {
      position: relative;
      padding-block: 30px;
      z-index: 1;
    }
  
    .footer :is(.shape-1, .shape-2) {
      display: block;
      position: absolute;
      bottom: 0;
      width: 50%;
      pointer-events: none;
      z-index: -1;
    }
  
    .footer .shape-1 {
      left: -100px;
    }
  
    .footer .shape-2 {
      left: -50px;
    }
  }
  
  /**
   * responsive for large than 1400px screen
   */
  
  @media (min-width: 1400px) {
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
      /**
       * typography
       */
  
      --fs-2: 6rem;
  
      /**
       * spacing
       */
  
      --section-padding: 140px;
    }
  
    /**
     * REUSED STYLE
     */
  
    :is(.header, .hero) .container {
      max-width: 1280px;
    }
  
    .section-subtitle::before {
      height: 20px;
      margin-inline-end: 5px;
    }
  
    /**
     * HEADER
     */
  
    .header .btn {
      padding: 18px 36px;
    }
  
    /**
     * ABOUT
     */
  
    .about::before {
      width: 55%;
    }
  
    .about-banner .w-100 {
      width: 50%;
    }
  
    /**
     * WORK
     */
  
    .has-scrollbar {
      overflow-x: visible;
    }
  
    .scrollbar-item {
      min-width: calc(33.33% - 200px);
    }
  
    /**
     * FOOTER
     */
  
    .footer-top .container {
      padding-inline-start: 20%;
    }
  }
  