.title-content {
    color: #000000;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.card-text {
    font-size: 15px !important;
    font-weight: 400 !important;
}
