.title-page {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.table {
    margin-top: 10px;
}

.table .tr {
    height: 35px;
}

.table .tr .th {
    text-align: left;
    width: 22%;
}

.table .tr .td {
    width: 1px;
    text-align: justify;
}
