.title-page {
    font-size: 25px;
    font-weight: 700;
    text-align: left;
}

.table-detail {
    margin-top: 10px;
    width: 50%;
}

.table-detail .table-detail-tr {
    height: 35px;
}

.table-detail .table-detail-th {
    text-align: left;
    width: 26%;
}

.table-detail tr td {
    padding-right: 5px;
}

.avatar {
    width: 100px;
}
