a.navLink {
    /* position: relative; */
    color: white;
    font-size: 20px;
    display: table;
    width: 310px;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 20px;
    text-decoration: none;
}

span.navItem {
    /* position: relative; */
    margin-left: 10px;
    margin-top: 10px;
}

.active {
    background: #8b380a;
    box-shadow: -3px 8px 4px 0px rgba(0, 0, 0, 0.25);
    transition: ease-in-out;
}

a.navLink:hover {
    background: #8b380a;
    box-shadow: -3px 8px 4px 0px rgba(0, 0, 0, 0.25);
    transition: ease-in-out;
}

a.navLink:focus {
    background: #ffffff;
    box-shadow: -3px 8px 4px 0px rgba(0, 0, 0, 0.25);
    transition: ease-in-out;
    color: #f16211;
    margin-left: 10px;
    transition: 0.2s ease-in;
}

a.logout {
    /* position: absolute; */
    bottom: 0;
    margin-top: 15px;
    padding: 0 10px 10px 10px;
    display: flex;
}

a.logout:hover {
    width: 290px;
}

a.logout:focus {
    color: #000000;
    background: #ffffff;
    box-shadow: none;
    transition: none;
    color: none;
    margin-left: 0px;
    width: 290px;
}

div.logoutIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-top: 7px;
}
