.form-wrapper {
  width: 90%;
  margin-left: 5%;
}

h1.title-form {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.form {
  margin-top: 10px;
  /* width: 90%; */
  width: 100%;
}
.label {
  display: block;
  padding: 5px 5px;
}

.form .input,
.form .select {
  display: inline;
  padding: 5px 5px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Poppins;
  font-size: 16px;
  border-bottom: 2px solid rgba(183, 182, 182, 0.8);
  width: 100%;
}

/* Gaya placeholder */
::placeholder {
  color: #aaa; /* Ubah sesuai kebutuhan */
  font-weight: 400; /* Ubah sesuai kebutuhan */
}

/* Gaya input teks */
input {
  color: #333; /* Ubah sesuai kebutuhan */
  font-weight: 700; /* Ubah sesuai kebutuhan */
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}


