.form-search {
  display: flex;
  color: #c7c7c7;
  gap: 2px;
  border-bottom: 2px solid rgba(241, 98, 17, 0.8);
  width: 30%;
}

.icon-search {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: rgba(241, 98, 17, 0.8);
}

.search {
  width: 250px;
  padding: 5px 10px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Poppins;
  font-size: 16px;
}

.table .tr .th {
  width: 16%;
}

.table .tr .td {
  width: 10px;
}

.table .tr .td .img {
  width: 100px;
}
